*.tmp
*.swp
__pycache__
.vscode
regen.json
.ipynb_checkpoints
.idea
saved_models
*.code-workspace
.hypothesis
infer_res
wandb
hf_cache_dir
data
train/hf_power_cache_dir
flagged
train/workdirs
test.json
hf_power_cache_dir/
gradios/log.txt
.gradio/